.yuriy { 
  padding-top: 9px;
  border-left-width: 32px;
  padding-bottom: 1px;
  border-bottom-width: 40px;
  padding-left: 74px;
  border-right-width: 63px;
  padding-right: 56px;
  margin-left: 39px;
  border-left-width: 32px;
  padding-right: 86px;
  padding-bottom: 63px;
  font-size: 51px;
  margin-right: 42px;
  padding-bottom: 15px;
  border-left-width: 62px;
  padding-left: 17px;
  line-height: 1px;
  margin-top: 50px;
  padding-top: 72px;
  padding-right: 7px;
  line-height: 13px;
  padding-right: 28px;
  margin-left: 89px;
  margin-bottom: 16px;
  font-size: 77px;
  margin-top: 80px;
  padding-right: 62px;
  border-bottom-width: 89px;
  padding-right: 45px;
  margin-bottom: 32px;
  margin-left: 29px;
  border-right-width: 20px;
  font-size: 73px;
}
