.efxfx { 
  margin-bottom: 73px;
  padding-left: 61px;
  margin-top: 57px;
  margin-bottom: 42px;
  padding-left: 74px;
  border-right-width: 70px;
  margin-right: 41px;
  border-top-width: 74px;
  border-top-width: 47px;
  padding-bottom: 96px;
  margin-top: 42px;
  padding-right: 95px;
  padding-top: 10px;
  border-bottom-width: 87px;
  padding-bottom: 35px;
  border-top-width: 31px;
  margin-top: 39px;
  padding-left: 94px;
  margin-right: 13px;
  border-bottom-width: 62px;
  border-bottom-width: 6px;
  margin-left: 32px;
  padding-left: 41px;
  padding-bottom: 38px;
  padding-right: 75px;
  font-size: 65px;
  padding-left: 34px;
  line-height: 11px;
  margin-top: 37px;
  margin-bottom: 15px;
  padding-left: 22px;
  border-bottom-width: 76px;
  margin-left: 0px;
  margin-top: 19px;
  border-bottom-width: 87px;
  border-right-width: 30px;
  padding-right: 12px;
  padding-right: 99px;
  margin-bottom: 33px;
  border-left-width: 14px;
  font-size: 45px;
  line-height: 68px;
  padding-top: 10px;
  margin-left: 50px;
  padding-bottom: 27px;
  line-height: 19px;
  margin-bottom: 41px;
  margin-left: 72px;
  padding-bottom: 49px;
  border-bottom-width: 48px;
  border-right-width: 90px;
  border-left-width: 62px;
  padding-left: 59px;
  margin-right: 55px;
  font-size: 97px;
  font-size: 53px;
  margin-left: 29px;
  border-top-width: 38px;
  padding-top: 76px;
  margin-bottom: 25px;
  font-size: 70px;
  margin-bottom: 16px;
  margin-bottom: 73px;
  border-right-width: 93px;
  font-size: 11px;
  border-left-width: 96px;
  border-right-width: 92px;
  padding-bottom: 56px;
  padding-right: 26px;
  margin-left: 85px;
  margin-left: 4px;
  padding-bottom: 75px;
  margin-bottom: 46px;
  padding-top: 81px;
  border-left-width: 23px;
  padding-top: 61px;
  padding-right: 53px;
  margin-bottom: 71px;
  padding-left: 73px;
  padding-right: 0px;
  border-right-width: 73px;
  margin-right: 89px;
  padding-bottom: 70px;
  border-right-width: 86px;
  margin-top: 71px;
  padding-left: 60px;
  border-top-width: 32px;
  padding-left: 90px;
  font-size: 66px;
  margin-left: 69px;
  margin-left: 36px;
  padding-bottom: 67px;
  margin-bottom: 83px;
  border-left-width: 13px;
  border-top-width: 72px;
  border-bottom-width: 39px;
  padding-right: 43px;
  padding-bottom: 31px;
  padding-left: 50px;
  padding-bottom: 82px;
  padding-bottom: 70px;
  padding-left: 94px;
  border-bottom-width: 66px;
  margin-left: 32px;
  margin-bottom: 9px;
  margin-top: 93px;
  margin-top: 14px;
  line-height: 16px;
  padding-bottom: 18px;
  padding-bottom: 55px;
  padding-top: 42px;
  margin-top: 51px;
  border-top-width: 26px;
  padding-left: 87px;
  padding-top: 0px;
  margin-bottom: 58px;
  padding-top: 90px;
  font-size: 86px;
  font-size: 96px;
  padding-left: 18px;
  line-height: 48px;
  font-size: 67px;
  line-height: 19px;
  padding-left: 93px;
  margin-bottom: 71px;
  margin-bottom: 27px;
  margin-left: 42px;
  border-bottom-width: 71px;
  padding-right: 31px;
  margin-bottom: 86px;
  border-top-width: 65px;
  padding-top: 75px;
  padding-left: 98px;
  padding-left: 30px;
  padding-top: 83px;
  margin-bottom: 36px;
  margin-left: 53px;
  margin-top: 25px;
  border-right-width: 69px;
  padding-top: 45px;
  margin-bottom: 34px;
  border-right-width: 4px;
  font-size: 48px;
  margin-top: 5px;
  border-left-width: 27px;
  margin-top: 69px;
  border-bottom-width: 80px;
  font-size: 2px;
  padding-bottom: 39px;
  border-bottom-width: 48px;
  border-bottom-width: 77px;
  padding-right: 4px;
  font-size: 50px;
  border-top-width: 21px;
  font-size: 93px;
  margin-top: 6px;
  margin-top: 81px;
  border-bottom-width: 31px;
  padding-right: 55px;
  margin-left: 80px;
  border-top-width: 53px;
  padding-bottom: 55px;
  margin-bottom: 37px;
  margin-top: 71px;
  border-top-width: 80px;
  padding-right: 69px;
  line-height: 16px;
  padding-right: 24px;
  border-right-width: 20px;
  border-right-width: 80px;
  margin-left: 39px;
  line-height: 20px;
  padding-left: 89px;
  margin-left: 24px;
  padding-right: 63px;
  border-bottom-width: 34px;
  margin-left: 0px;
  margin-right: 83px;
  border-left-width: 26px;
  border-left-width: 93px;
  border-left-width: 53px;
  margin-right: 40px;
  font-size: 11px;
  border-bottom-width: 7px;
  margin-top: 9px;
  margin-left: 81px;
  margin-bottom: 89px;
  margin-left: 66px;
  padding-left: 91px;
  padding-right: 96px;
  line-height: 2px;
  border-bottom-width: 37px;
  border-right-width: 75px;
  margin-top: 74px;
  border-top-width: 99px;
  margin-top: 41px;
  border-right-width: 28px;
  padding-top: 38px;
  font-size: 80px;
  border-left-width: 79px;
  padding-right: 93px;
  border-left-width: 80px;
  border-left-width: 82px;
  border-left-width: 46px;
  margin-top: 95px;
  margin-left: 10px;
  border-right-width: 34px;
  margin-bottom: 72px;
  padding-right: 82px;
  margin-right: 87px;
  padding-left: 6px;
  padding-right: 98px;
  margin-right: 19px;
  padding-right: 3px;
  line-height: 62px;
  margin-right: 53px;
  border-bottom-width: 68px;
  margin-bottom: 86px;
  font-size: 57px;
  margin-right: 67px;
  border-left-width: 31px;
  padding-right: 61px;
  border-top-width: 40px;
  line-height: 18px;
  font-size: 80px;
  border-top-width: 68px;
  margin-left: 66px;
  border-left-width: 83px;
  line-height: 86px;
  padding-bottom: 84px;
  margin-left: 35px;
  padding-bottom: 64px;
  padding-bottom: 79px;
  padding-right: 29px;
  padding-left: 20px;
  margin-top: 89px;
  font-size: 13px;
  line-height: 8px;
  padding-right: 82px;
  margin-right: 55px;
  margin-bottom: 47px;
  padding-right: 55px;
  border-top-width: 29px;
  padding-right: 32px;
  border-top-width: 16px;
  padding-top: 24px;
  line-height: 80px;
  padding-bottom: 75px;
  font-size: 21px;
  padding-left: 81px;
  border-right-width: 4px;
  margin-top: 61px;
  padding-left: 64px;
  padding-right: 97px;
  padding-right: 53px;
  padding-right: 78px;
  margin-left: 65px;
  border-top-width: 59px;
  font-size: 53px;
  padding-left: 84px;
  margin-right: 63px;
  border-bottom-width: 1px;
  margin-left: 93px;
  border-top-width: 31px;
  padding-right: 81px;
  line-height: 31px;
  border-right-width: 55px;
}
