.efxfx { 
  margin-bottom: 73px;
  padding-left: 61px;
  margin-top: 57px;
  margin-bottom: 42px;
  padding-left: 74px;
  border-right-width: 70px;
  margin-right: 41px;
  border-top-width: 74px;
  border-top-width: 47px;
  padding-bottom: 96px;
  margin-top: 42px;
  padding-right: 95px;
  padding-top: 10px;
  border-bottom-width: 87px;
  padding-bottom: 35px;
  border-top-width: 31px;
  margin-top: 39px;
  padding-left: 94px;
  margin-right: 13px;
  border-bottom-width: 62px;
  border-bottom-width: 6px;
  margin-left: 32px;
  padding-left: 41px;
  padding-bottom: 38px;
  margin-top: 86px;
}
